---
http_interactions:
- request:
    method: post
    uri: https://www.reddit.com/api/v1/access_token
    body:
      encoding: US-ASCII
      string: grant_type=password&username=blah&password=password
    headers:
      Authorization:
      - Basic aAaAaaAaaaAAaaAAAaaAAAAAAaAAAAAAAAAAAAAaaaaaaAAaaaAAa
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"access_token": "-mEcqnMAOT_Hd_XUsZsLRKCYSDo", "token_type": "bearer",
        "expires_in": 3600, "scope": "*"}'
  recorded_at: Sat, 17 Feb 2018 06:30:55 GMT
- request:
    method: post
    uri: https://oauth.reddit.com/api/submit?api_type=json&raw_json=1
    body:
      encoding: US-ASCII
      string: title=Monkey&sr=gimlet&resubmit=false&sendreplies=false&kind=link&url=http%3A%2F%2Fmonkey.com%2F
    headers:
      Authorization:
      - Bearer -mEcqnMAOT_Hd_XUsZsLRKCYSDo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '599.0'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Reset:
      - '544'
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"json": {"errors": [], "data": {"url": "https://www.reddit.com/r/gimlet/comments/7y537h/monkey/",
        "id": "7y537h", "name": "t3_7y537h"}}}'
  recorded_at: Sat, 17 Feb 2018 06:30:57 GMT
recorded_with: VCR 4.0.0
